<% if (site.posts.length){ %>
  <h5><%= __('访问人数') %></h5>
  <div class="widget">
    <span>
    	访问量 <b><i><span id="busuanzi_value_site_pv"><i class="fa fa-spinner fa-spin"></i></span></i></b> 次
	</span>
	<br/>
	<span>
		  访问人数 <b><i><span id="busuanzi_value_site_uv"><i class="fa fa-spinner fa-spin"></i></span></i></b> 人
	</span>
  </div>
<% } %>